:root {
    /* Header */
    --header-color: #000000ed;
    --header-bg-color: #ffffff00;
    --header-icon-color: #fefefe;
    --header-text-color: #fefefe;
    --header-text-shadow-color: #00000080;
    --header-bordercolor-1: #dfeed4ff;
    --header-bordercolor-2: #dfeed4ff;
    --header-bg-image: none;

    /* Hero */
    --hero-bg-color: #ffffff;
    --hero-bg-image-fg-color: #f4dec3;
    --hero-text-color: #000000;
    --contact-info-bg: none;

    /* Main */
    --main-bg: #000;
    --main-bg-color: #f4dec3;
    --main-text-color: #ffffff;

    /* Menu */
    --menu-bg-color-1: #22273111;
    --menu-bg-color-2: #00000055;
    --menu-text-color: #ffffff;

    /* Buttons */
    --button-color1: #222731;
    --button-color2: #000;
    --button-text-color1: #fefefe;
    --button-text-color2: #ffffff;
    --button-text-color3: #fff;

    /* Selected Button */
    --selected-button-color1: #200;
    --selected-button-color2: #200;
    --selected-button-color3: #fff;
    --selected-button-color4: #000000ee;
    --selected-text-color1: #fff;
    --selected-text-color2: #fff;
    --selected-text-color3: #85181c;

    /* Footer */
    --footer-bg-color: #fefefe;
    --footer-text-color: #000;

    /* Modal */
    --modal-bg-container-color: #00000055;
}
